<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.universe_explorer.universeexplorer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".zgwxsk" />
        <activity android:name=".zgwx" />
        <activity android:name=".gjkj" />
        <activity android:name=".tgeh" />
        <activity android:name=".zwyh" />
        <activity android:name=".fy1d" />
        <activity android:name=".fy2b" />
        <activity android:name=".fy2c" />
        <activity android:name=".fy3a" />
        <activity android:name=".fy3c" />
        <activity android:name=".xw1h" />
        <activity android:name=".htxtgc" />
        <activity android:name=".htkz" />
        <activity android:name=".gdxx" />
        <activity android:name=".htlyxkpl" />
        <activity android:name=".htlyxzyl" />
        <activity android:name=".htlyxkpl1" />
        <activity android:name=".htlyxkpl2" />
        <activity android:name=".htlyxkpl3" />
        <activity android:name=".htlyxkpl4" />
        <activity android:name=".htlyxzyl1" />
        <activity android:name=".htlyxzyl2" />
        <activity android:name=".htlyxzyl3" />
        <activity android:name=".htlyxzyl4" />
        <activity android:name=".dqcsjbz" />

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".ConsoleService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity android:name=".yqfxdzz" />
        <activity android:name=".dqcsjxz" />
        <activity android:name=".ddjkjzj1" />
        <activity android:name=".ddjkjzj2" />
        <activity android:name=".sjzbx" />
        <activity android:name=".gnjs" />
        <activity android:name=".kfzjs" />
        <activity android:name=".ztgc"></activity>
    </application>

</manifest>